@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Russo+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    
    
}

header{
    background-color: black;
    text-align: center;
    color: white;
    padding: 50px;
}
header > h1{
    font-family:'Russo One', 'sans-serif';
    font-size: 3em;  
}
nav{
    background-color: black;
   
}
nav >a{
    color: white;
    text-decoration: none;
    padding: 13px;
}
a:hover{
    background-color: white;
    color: black;
    border-radius: 6px;
}
main{
padding-bottom: 300px;
}
 h2{
    background-color: black;
    width: 300px;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 60px;
    margin-left: 12px;
}

div{
display: flex;
flex-direction: row;
justify-content: space-around;
}
.item img{
    box-shadow: 3px 3px 3px 3px rgb(56, 54, 54);
}
.item img:hover{
    zoom:150%;
}
#icones{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.icon{
    padding: 5px;

}

footer{
    background-color: black;
    padding: 50px;
}
footer >p{
    color: white;
    text-align: center;
    
}